<%= javascript_pack_tag "workouts/form" %>

<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :lift_workouts do |lw| %>
    <div class="form-group">
      <%= lw.object&.lift&.name || 'Click to set lift' %>
      <%= lw.number_field :weight, placeholder: "Add lift_workout weight", class: "form-control" %>
      <%= lw.hidden_field :lift_id %>
      <%= lw.hidden_field :rep_count %>
      <div data-max-reps="<%= lw.object.rep_count %>">
        <%= lw.fields_for :lift_sets do |ls| %>
          <button class="btn btn-primary rep_count_button" type="button"><%= ls.object.rep_count || '-' %></button>
          <%= ls.hidden_field :rep_count, class: "form-control" %>
        <% end %>
      </div>
      <hr>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body_weight %>
    <%= form.number_field :body_weight %>
  </div>

  <%= form.hidden_field :workout_date, value: @workout.workout_date || Date.today %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
