<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%#= render partial: 'lift_workout_card', collection: @workout.lift_workouts.order(:id), as: :lift_workout, locals: { form: form }%>

  <%= form.fields_for :lift_workouts do |lw| %>
    <div class="form-group">
      <%= lw.object.lift.name %>
      <%= lw.number_field :weight, placeholder: "Add lift_workout weight", rows: 10, class: "form-control" %>
      <div>
        <%= lw.fields_for :lift_sets do |ls| %>
          <button class="btn btn-primary rep_count_button" type="button"><%= ls.object.rep_count %></button>
          <%= ls.hidden_field :rep_count, rows: 10, class: "form-control" %>
        <% end %>
      </div>
      <hr>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body_weight %>
    <%= form.number_field :body_weight %>
  </div>

  <%#= hidden_field_tag 'workout[rep_counts]', @workout.rep_count_input %>
  <%#= hidden_field_tag 'workout[workout_date]', @workout.workout_date || Date.today %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
