<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'lift_workout_card', collection: @workout.lift_workouts.order(:id), as: :lift_workout, locals: { form: form }%>

  <%= form.fields_for :lift_workouts do |lw| %>
    <div class="form-group">
      <%= lw.text_field :weight, placeholder: "Add lift_workout weight", rows: 10, class: "form-control" %>
      <%= lw.text_field :rep_count, placeholder: "Add lift_workout reps", rows: 10, class: "form-control" %>
    </div>
    <%= lw.fields_for :lift_sets do |ls| %>
      <div class="form-group">
        <%= ls.text_field :rep_count, placeholder: "Add lift_workout reps", rows: 10, class: "form-control" %>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :body_weight %>
    <%= form.number_field :body_weight %>
  </div>

  <%= hidden_field_tag 'workout[rep_counts]', @workout.rep_count_input %>
  <%= hidden_field_tag 'workout[workout_date]', @workout.workout_date || Date.today %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
