<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @workout.lift_workouts.each do |lift_workout| %>
      <div>Lift Name: <%= lift_workout.lift.name %> -
        Lift Weight: <%= lift_workout.weight %></div>
        <% lift_workout.lift_sets.each do |set| %>
          <div><%= set.rep_count %></div>

        <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :body_weight %>
    <%= form.number_field :body_weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
