<p id="notice"><%= notice %></p>

<h1>Lift Sets</h1>

<table>
  <thead>
    <tr>
      <th>Rep count</th>
      <th>Lift workout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lift_sets.each do |lift_set| %>
      <tr>
        <td><%= lift_set.rep_count %></td>
        <td><%= lift_set.lift_workout_id %></td>
        <td><%= link_to 'Show', lift_set %></td>
        <td><%= link_to 'Edit', edit_lift_set_path(lift_set) %></td>
        <td><%= link_to 'Destroy', lift_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lift Set', new_lift_set_path %>
