<p id="notice"><%= notice %></p>

<p>
  <strong>Rep count:</strong>
  <%= @lift_set.rep_count %>
</p>

<p>
  <strong>Lift workout:</strong>
  <%= @lift_set.lift_workout_id %>
</p>

<%= link_to 'Edit', edit_lift_set_path(@lift_set) %> |
<%= link_to 'Back', lift_sets_path %>
